* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
html, body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ==============common===================== */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;

}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;

}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #E6F0FF;
    height: calc(100vh - 90px);


}

.fixed-header {
    position: sticky;
    top: -26px;
    left: 0;
    background: #E6F0FF;
    padding-top: 26px;
    z-index: 1;
}



.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;

}

.navbar ul {
    display: flex;
}

.navbar .actions {
    margin-left: auto;
}

.navbar img {
    margin-right: 50px;
}

.navbar ul li a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.hero {
    width: 50.4%;

}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}


.hero .infor .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .infor .title {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    /* or 119% */
    color: #000336;
    margin-top: 8px;
}

.hero .infor .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;
    /* or 178% */
    color: #5A6473;
}

.hero .infor .hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

/* ==========clients============== */
.clients {
    padding: 43px 0 41px;
    margin-top: 79px;
    /* background-color: yellow; */
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #7D8589;

}

.clients .clients-img {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;

}

.clients .clients-img a {
    display: flex;
    align-items: center;
    padding: 0 41px;
    height: 91px;
    border-radius: 12px;

}

.clients .clients-img a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

/* =========guides=========== */
.guides {
    margin-top: 40px;
    /* background-color: yellow; */
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #000339;

}

.guides .sub-title::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    left: calc(100% / 2);
    transform: translateX(-50%);
    background: #000339;
    border-radius: 12px;

}

.guides .desc {
    width: 459px;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9;
    text-align: center;
    color: #5A6473;

}

.guides .box {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

.guides .box p:first-of-type {
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 1.1;
    text-align: center;
    color: #3B3C45;

}

.guides .box p:last-of-type {
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    /* identical to box height */

    text-align: center;

    color: #0689FF;


}

.guides-list {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.guides-item {
    margin: 0 70px 0;
    text-align: center;
}

.guides-list .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.2;
    color: #3B3C45;
}

.guides-item a {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0689FF;

}

.guides-item a .arrow {
    margin-left: 6px;
}

.guides-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn-guides {
    min-width: 170px;
}


/* =============Feature============ */
.feature {
    padding: 110px 0;
    margin-top: 41px;
    background: #F5FAFE;
}

.feature .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.0;
    color: #000339;
}

.feature .row {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.feature .row .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}

.feature .row .link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689FF;
}

.feature .row img {
    position: relative;
    top: -2px;
    margin-left: 8px;
}

.feature header {
    background: #F5FAFE;
}


.feature .card-list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.feature .item .thumd {
    width: 100%;
    height: 227px;
    border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    object-fit: cover;

}

.feature .item {
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
}

.feature .body {
    margin: 17px 20px;

}

.feature .body .titile a {
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 1;
    color: #000339;

}

.feature .body .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #A3A6AB;

}

.feature .body .infor {
    margin-top: 23px;
}

.feature .body .infor {
    display: flex;
    align-items: center;
}

.feature .body .infor span {
    margin-left: 8px;
    margin-right: 21px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #444444;

}

/* ============Stats================ */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .row .img-block,
.stats .row .infor {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    width: 400px;
    height: 460px;
    margin-left: auto;
    border-radius: 12px;
}

.stats .row .infor {
    padding: calc(129px - 50px) 0 0 165px;
}

.stats .row .infor .sub-title {
    position: relative;
    font-weight: 600;
    width: 269px;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    margin-bottom: 20px;

}

.stats .row .infor .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 0;
    position: absolute;
    background: #000339;
    border-radius: 12px;
}

.stats .row .infor .desc {
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5A6473;
}

.stats-trend {
    width: 239px;
    padding: 45px 22px 41px;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .values {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .desc {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #A7A7A7;
}

.stats-trend .row img {
    margin-left: auto;
}

.stats-trend .line {
    margin-top: 25px;
    height: 1.2px;
    background: #E9E9E9;
}

.stats-trend .avatar-block {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 16px 12px;
    margin-left: 3px;
}

.stats-trend .item-avatar {
    display: flex;

}

.stats-trend .item-avatar .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    margin-left: -3px;

}

.avatar-block .avatar {
    display: flex;
    font-weight: 450;
    font-size: 0.7rem;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background-color: #0689FF;
    justify-content: center;
    align-items: center;

}

.avatar-block .item-avatar:nth-child(4) .avatar {
    background-color: #24D6D9;
}

.stats .row-qty {
    margin-top: 110px;
    gap: 220px;
}

.stats .row-qty .values {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1.0;
    color: #000000;
}

.stats .row-qty .desc {
    margin-left: -1px;
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7B8087;
}

.stats .row-qty .item-qty:first-child {
    margin-left: calc(228px - 196px);
}


/* =============sub-scription===========*/


.sub-scription {
    margin-top: 90px;
}

.sub-scription .body {
    position: relative;
    height: 370px;
    background: #063183;
    border-radius: 20px;
    padding: 110px 0 110px 80px;
}

.sub-scription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFF;

}

.sub-scription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #FFFFFF;
    opacity: 0.75;
}

.sub-scription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #FFFFFF;
    border-radius: 12px;
    color: #002366;
}

.sub-scription img {
    position: absolute;
    bottom: 0;
    right: 231px;
}

/* ===========footer========== */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px 0;

}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .row-top .sub-title {
    margin-bottom: 42px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.0rem;
    color: #1C1C1D;
}

.footer .row-top .list li {
    margin-top: 18px;
}

.footer .row-top a {
    font-weight: 400;
    font-size: 1.6rem;
    white-space: nowrap;
    color: #7A7A7E;
}

.footer .item .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7A7A7E;
    margin-bottom: 40px;

}

.footer .social {
    display: flex;
    gap: 16px;
}

.footer .social .social-link {
    display: flex;
    width: 28px;
    height: 28px;
    background: #F9F9F9;
}

.footer .social img {
    margin: auto;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .row-bottom .desc {
    font-weight: 400;
    font-size: 1.4rem;
    color: #C2C2C2;
}